/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg: white;
  --color-sidebar: black;
  --color-sidebar-div: rgb(41, 41, 41);
  --color-btn: orange;
  --border: solid 3px grey;
  --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body {
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* General Container */
#container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  width: auto;
}

/* Sidebar (Left side) */
#sidebar {
  background-color: rgb(234, 234, 234);
  color: black;
  height: 100%;
  /* padding: 30px; */
}

/* Content (Right side) */
#content {
  background-color: var(--color-bg);
  padding: 30px;
}

/* My project bar */
.my-project-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

/* Add + button */
.add-new-project-btn {
  height: 40px;
  width: 40px;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
  background-color: rgb(234, 234, 234);
  color: rgb(100, 100, 100);
}

.add-new-project-btn:hover {
  background-color: rgb(212, 212, 212);
}

/* Add Todo button */
.add-todo-btn {
  background-color: white;
  border-radius: 10px;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 20px;
  height: auto;
  width: 100%;
  text-align: start;
}

.add-todo-btn:hover {
  background-color: rgb(225, 225, 225);
}

/* Trash buttons */
.delete-project-btn,
.delete-todo-btn {
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: black;
}

.delete-project-btn:hover,
.delete-todo-btn:hover {
  color: rgb(89, 89, 89);
  cursor: pointer;
}

/* Title texts margin */
h1,
h2,
h3 {
  margin: 0;
}

/* Content Title */
h1 {
  font-weight: 900;
}

/* My projects text */
h2 {
  font-weight: 400;
  font-size: 1.6rem;
}

/* Each todo elements box */
.todo-box {
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 20px;
  height: auto;
  width: auto;
  margin-bottom: 20px;
}

.todo-box h3,
.todo-box p {
  margin: 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Each projects elements box */
.project-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(234, 234, 234);
  padding: 20px;
  height: auto;
}

.project-box:hover {
  cursor: pointer;
}

.active {
  background-color: rgb(180, 180, 180);
}

/* Todo Modal */
/* Modal background (Overlay) */
#todo-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);

  /* Center modal */
  display: none;
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal-form {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: white;
}

/* Open modal */
#todo-modal.open {
  display: flex;
}

/* Project Modal */
/* Modal background (Overlay) */
#project-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);

  /* Center modal */
  display: none;
  justify-content: center;
  align-items: center;
}

/* Modal box */
.project-modal-form {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 200px;
  background-color: white;
}

/* Open modal */
#project-modal.open {
  display: flex;
}
