/* Roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg: white;
  --color-sidebar: black;
  --color-sidebar-div: rgb(41, 41, 41);
  --color-btn: orange;
  --border: solid 3px grey;
  --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body {
  margin: 0;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* General Container */
#container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  width: auto;
}

/* Sidebar (Left side) */
#sidebar {
  background-color: var(--color-sidebar);
  color: white;
  height: 100vh;
  padding: 30px;
}

/* My project bar */
.my-project-bar {
  display: flex;
  gap: 20px;
}

/* Content (Right side) */
#content {
  background-color: var(--color-bg);
  padding: 30px;
}

/* Title text */
h2 {
  margin: 0;
}

button {
  background-color: var(--color-btn);
  border: none;
}

/* Each todo elements box */
.todo-box {
  background-color: blue;
  width: 300px;
}

/* Todo Modal */
/* Modal background (Overlay) */
#todo-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);

  /* Center modal */
  display: none;
  justify-content: center;
  align-items: center;
}

/* Modal box */
.modal-form {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  background-color: white;
}

/* Open modal */
#todo-modal.open {
  display: flex;
}

/* Project Modal */
/* Modal background (Overlay) */
#project-modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);

  /* Center modal */
  display: none;
  justify-content: center;
  align-items: center;
}

/* Modal box */
.project-modal-form {
  display: flex;
  flex-direction: column;
  height:100px;
  width: 200px;
  background-color: white;
}

/* Open modal */
#project-modal.open {
  display: flex;
}
